apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{harbor.bucket.name}}
  namespace: {{harbor.namespace}}
spec:
  generateBucketName: {{harbor.bucket.name}}
  storageClassName: {{harbor.bucket.storageClass}}
  additionalConfig:
    # To set for quota for OBC
    #maxObjects: "1000"
    maxSize: {{harbor.bucket.maxSize}}
