---
installCRDs: true
image:
  repository: {{repositories.registry_commercial}}/vanillastack/cert-manager-controller
webhook:
  image:
    repository: {{repositories.registry_commercial}}/vanillastack/cert-manager-webhook
cainjector:
  image:
    repository: {{repositories.registry_commercial}}/vanillastack/cert-manager-cainjector
