{% if LE_issuer_name in letscencrypt_issuers %}
apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: {{ LE_issuer_name }}
spec:
  acme:
    # The ACME server URL
{% if LE_issuer_name == "letsencrypt-prod" %}
    server: https://acme-v02.api.letsencrypt.org/directory
{% else %}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
{% endif %}
    # Email address used for ACME registration
    email: {{ LE_issuer_mail }}
    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: {{ LE_issuer_name }}
    # Enable the HTTP-01 challenge provider
    solvers:
    - http01:
        ingress:
          class: nginx
{% elif LE_issuer_name in custom_issuers %}
apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
 name: ca-custom-tls
spec:
 secretName: ca-custom-tls
 isCA: true
 usages:
   - server auth
   - client auth
 issuerRef:
   name: selfsigned-issuer
   kind: ClusterIssuer
 commonName: '{% if clusterTLDomain is defined %}{{ clusterTLDomain }}{% else %}vanillastack.local{% endif %}'
 dnsNames:
   - '{% if clusterTLDomain is defined %}{{ clusterTLDomain }}{% else %}vanillastack.local{% endif %}'
---
apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
 name: {{ LE_issuer_name }}
spec:
 ca:
   secretName: ca-custom-tls
{% endif %}
