vrrp_script chk_haproxy {
        script "killall -0 haproxy"        # cheaper than pidof
        interval {{ keepalived.interval }} # check every 2 seconds
        weight 2                           # add 2 points of prio if OK
}

vrrp_instance lb_1 {
   debug {{ keepalived.debug }}
   interface {{ ansible_default_ipv4.interface }}	# interface to monitor
   state {{ keepalived_MASTER_SLAVE }}
   virtual_router_id 22          	# Assign one ID for this route
   priority {{ keepalived_priority }}	# 101 on master, 100 on backup
   virtual_ipaddress {
       {{ kubernetes.loadBalancer.virtualIP }} 	# peer IP
   }
   track_script {
       chk_haproxy
   }
}
