cluster:
  externalAccess:
    enabled: false
  init: true
  nodes: 9
  replicas: 2
containerSecurityContext:
  enabled: true
  runAsUser: 1001
  sysctls: null
fullnameOverride: "redis-{{ redis.environment | default('testing') }}"
global:
  storageClass: {{ redis.persistence.storageClass }}
image:
  pullPolicy: IfNotPresent
  pullSecrets: null
{% if commercial.enabled %}
  registry: {{repositories.registry_commercial}}
  repository: vanillastack/redis-cluster
{% else %}
  registry: docker.io
  repository: bitnami/redis-cluster
{% endif %}
  tag: 6.0.10-debian-10-r5
metrics:
  enabled: true
  image:
    pullPolicy: IfNotPresent
    pullSecrets: null
{% if commercial.enabled %}
    registry: {{repositories.registry_commercial}}
    repository: vanillastack/redis-exporter
{% else %}
    registry: docker.io
    repository: bitnami/redis-exporter
{% endif %}
    tag: 1.15.1-debian-10-r6
  podAnnotations:
    prometheus.io/port: "9121"
    prometheus.io/scrape: "true"
password: "{{ redis.password }}"
persistence:
  accessModes:
  - ReadWriteOnce
  enabled: true
  matchExpressions: {}
  matchLabels: {}
  path: /data
  size: {{ redis.persistence.size }}
  storageClass: "{{ redis.persistence.storageClass }}"
  subPath: ""
podSecurityContext:
  enabled: true
  fsGroup: 1001
  runAsUser: 1001
  sysctls: null
podSecurityPolicy:
  create: true
rbac:
  create: false
  role:
    rules: []
redis:
  affinity: {}
  args: []
  busPort: 16379
  command: []
  configmap: null
  customLivenessProbe: {}
  customReadinessProbe: {}
  extraEnvVars: []
  extraEnvVarsCM: null
  extraEnvVarsSecret: null
  extraVolumeMounts: []
  extraVolumes: []
  hostAliases: []
  initContainers: []
  lifecycleHooks: null
  livenessProbe:
    enabled: true
    failureThreshold: 5
    initialDelaySeconds: 5
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 5
  nodeAffinityPreset:
    key: ""
    type: ""
    values: []
  nodeSelector: {}
  podAffinityPreset: ""
  podAnnotations: {}
  podAntiAffinityPreset: soft
  podLabels: {}
  port: 6379
  priorityClassName: null
  readinessProbe:
    enabled: true
    failureThreshold: 5
    initialDelaySeconds: 5
    periodSeconds: 5
    successThreshold: 1
    timeoutSeconds: 1
  resources: {}
  schedulerName: null
  sidecars: []
  tolerations: []
  topologySpreadConstraints: []
  useAOFPersistence: "yes"
service:
  annotations: {}
  labels: {}
  port: 6379
  type: ClusterIP
serviceAccount:
  create: false
  name: null
sysctlImage:
  command: []
  enabled: false
  mountHostSys: false
  pullPolicy: Always
  pullSecrets: null
  registry: docker.io
  repository: bitnami/minideb
  resources: {}
  tag: buster
tls:
  authClients: true
  certCAFilename: null
  certFilename: null
  certKeyFilename: null
  certificatesSecret: null
  dhParamsFilename: null
  enabled: false
usePassword: true
usePasswordFile: false
volumePermissions:
  enabled: false
  image:
    pullPolicy: Always
    pullSecrets: null
    registry: docker.io
    repository: bitnami/minideb
    tag: buster
  resources: {}

