apiVersion: v1
kind: Service
metadata:
  name: uaa
  labels:
    app: uaa-deployment
    app.kubernetes.io/name: uaa
    app.kubernetes.io/instance: uaa-standalone
    app.kubernetes.io/version: 74.12.0
    app.kubernetes.io/component: authorization_server
    app.kubernetes.io/part-of: uaa
    app.kubernetes.io/managed-by: kubectl
  namespace: {{stratos.namespace}}
spec:
  type: ClusterIP
  ports:
  - port: 8080
    name: http-uaa
    targetPort: 8080
    protocol: TCP
  selector:
    app: uaa-deployment
