apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: {{ LE_issuer_name }}
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  name: uaa
  namespace: {{stratos.namespace}}
spec:
  rules:
  - host: '*.uaa.{{clusterTLDomain}}'
    http:
      paths:
      - backend:
          serviceName: uaa
          servicePort: 8080
        path: /
        pathType: ImplementationSpecific
  - host: uaa.{{clusterTLDomain}}
    http:
      paths:
      - backend:
          serviceName: uaa
          servicePort: 8080
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - '*.uaa.{{clusterTLDomain}}'
    - uaa.{{clusterTLDomain}}
    secretName: uaa-ingress-tls
