apiVersion: v1
kind: Secret
metadata:
  name: uaa-database-credentials
  namespace: {{stratos.namespace}}
  labels:
    app.kubernetes.io/name: uaa
    app.kubernetes.io/instance: uaa-standalone
    app.kubernetes.io/version: 74.12.0
    app.kubernetes.io/component: authorization_server
    app.kubernetes.io/part-of: uaa
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  database_credentials.yml: |
    database:
      username: postgres
      password: {{postgrespassword.stdout}}
