apiVersion: v1
kind: ConfigMap
metadata:
  name: uaa-config
  annotations:
    kapp.k14s.io/versioned: ""
  namespace: {{stratos.namespace}}
  labels:
    app.kubernetes.io/name: uaa
    app.kubernetes.io/instance: uaa-standalone
    app.kubernetes.io/version: 74.12.0
    app.kubernetes.io/component: authorization_server
    app.kubernetes.io/part-of: uaa
    app.kubernetes.io/managed-by: kubectl
data:
  uaa.yml: |
    issuer:
      uri: https://uaa.{{clusterTLDomain}}
    LOGIN_SECRET: loginsecret
    database:
      maxactive: 100
      maxidle: 10
      minidle: 0
      removeabandoned: false
      logabandoned: true
      abandonedtimeout: 300
      url: jdbc:hsqldb:mem:uaa
    smtp:
      host: null
      port: 25
      starttls: null
      from_address: null
    oauth:
      client:
        override: true
      clients:
        admin:
          authorized-grant-types: client_credentials
          authorities: clients.read,clients.write,clients.secret,uaa.admin,scim.read,scim.write,password.write
        {{stratos.coreDomain}}:
          name: stratos
          authorized-grant-types: authorization_code
          secret: {{stratos_client_secret.stdout}} 
          redirect-uri: https://{{stratos.coreDomain}}/pp/v1/auth/sso_login_callback
          autoapprove: true
          access-token-validity: 600
          authorities: uaa.none
          override: true
          refresh-token-validity: 2592000
          scope: inetwork.admin,network.write,cloud_controller.read,cloud_controller.write,openid,password.write,cloud_controller.admin,scim.read,scim.write,doppler.firehose,uaa.user,routing.router_groups.read,routing.router_groups.write,cloud_controller.admin_read_only,cloud_controller.global_auditor,perm.admin,clients.read
          show-on-homepage: true
          app-launch-url: https://{{stratos.coreDomain}}
          app-icon: iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAD1BMVEWZttQvMDEoKisqKywAAAApvvoVAAAAGElEQVQYlWNgYUQBLAxMDCiAeXgLoHsfAD03AHOyfqy1AAAAAElFTkSuQmCC
    scim:
      vs-keycloak:
        stratos-admin:
          - cloud_controller.admin
    zones:
      uaa:
        hostnames:
        - localhost
        - {{clusterTLDomain}}
        - {{stratos.coreDomain}}
  log4j2.properties: |-
{% raw %}
    status = error
    dest = err
    name = UaaLog

    property.log_pattern=[%d{yyyy-MM-dd'T'HH:mm:ss.nnnnnn}{GMT+0}Z] uaa%X{context} - %pid [%t] .... %5p --- %c{1}: %replace{%m}{(?<=password=|client_secret=)([^&]*)}{<redacted>}%n

    appender.uaaDefaultAppender.type = Console
    appender.uaaDefaultAppender.name = UaaDefaultAppender
    appender.uaaDefaultAppender.layout.type = PatternLayout
    appender.uaaDefaultAppender.layout.pattern = [UAA] ${log_pattern}

    appender.uaaAuditAppender.type = Console
    appender.uaaAuditAppender.name = UaaAuditAppender
    appender.uaaAuditAppender.layout.type = PatternLayout
    appender.uaaAuditAppender.layout.pattern = [UAA_AUDIT] ${log_pattern}

    rootLogger.level = info
    rootLogger.appenderRef.uaaDefaultAppender.ref = UaaDefaultAppender

    logger.UAAAudit.name = UAA.Audit
    logger.UAAAudit.level = info
    logger.UAAAudit.additivity = true
    logger.UAAAudit.appenderRef.auditEventLog.ref = UaaAuditAppender

    logger.cfIdentity.name = org.cloudfoundry.identity
    logger.cfIdentity.level = info
    logger.cfIdentity.additivity = false
    logger.cfIdentity.appenderRef.uaaDefaultAppender.ref = UaaDefaultAppender
{% endraw %}
