apiVersion: apps/v1
kind: Deployment
metadata:
  name: uaaclient
  namespace: stratos
  labels:
    app: uaaclient
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uaaclient
  template:
    metadata:
      labels:
        app: uaaclient
    spec:
      containers:
      - name: rook-ceph-tools
{% if commercial.enabled %}
        image: {{repositories.registry_commercial}}/vanillastack/uaaclient:v1.5
{% else %}
        image: {{repositories.registry_community}}/vanillastack/uaaclient:v1.5
{% endif %}
        imagePullPolicy: IfNotPresent
        command: ["/bin/sleep"]
        args: ["infinity"]
