affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
    - labelSelector:
        matchExpressions:
        - key: k8s-app
          operator: In
          values:
          - cilium
      topologyKey: kubernetes.io/hostname
agent: true
autoDirectNodeRoutes: false
azure:
  enabled: false
bandwidthManager: false
bpf:
  clockProbe: false
  lbMapMax: 65536
  monitorAggregation: medium
  monitorFlags: all
  monitorInterval: 5s
  policyMapMax: 16384
  preallocateMaps: false
  waitForMount: false
certgen:
  image:
    pullPolicy: IfNotPresent
{% if commercial.enabled %}
    repository: {{repositories.registry_commercial}}/certgen
{% else %}
    repository: quay.io/cilium/certgen
{% endif %}
    tag: v0.1.3
  podLabels: {}
  ttlSecondsAfterFinished: 1800
cleanBpfState: false
cleanState: false
cluster:
  id: null
  name: default
clustermesh:
  apiserver:
    etcd:
      image:
        pullPolicy: IfNotPresent
        repository: quay.io/coreos/etcd
        tag: v3.4.13
    image:
      digest: sha256:f2fd67898c15af0b0c3416ba60d4d60b30dbdf75651f0d129cd53d33268b742c
      pullPolicy: IfNotPresent
{% if commercial.enabled %}
      repository: {{ repositories.registry_commercial }}/clustermesh-apiserver
{% else %}
      repository: quay.io/cilium/clustermesh-apiserver
{% endif %}
      tag: v1.9.5
      useDigest: false
    nodeSelector: {}
    podAnnotations: {}
    podLabels: {}
    replicas: 1
    resources: {}
    service:
      annotations: {}
      nodePort: 32379
      type: NodePort
    tls:
      admin:
        cert: ""
        key: ""
      auto:
        certValidityDuration: 1095
        enabled: true
        method: helm
      ca:
        cert: ""
        key: ""
      client:
        cert: ""
        key: ""
      remote:
        cert: ""
        key: ""
      server:
        cert: ""
        key: ""
    tolerations: []
    updateStrategy:
      rollingUpdate:
        maxUnavailable: 1
      type: RollingUpdate
  useAPIServer: false
cni:
  binPath: /opt/cni/bin
  chainingMode: none
  confFileMountPath: /tmp/cni-configuration
  confPath: /etc/cni/net.d
  configMapKey: cni-config
  customConf: false
  hostConfDirMountPath: /host/etc/cni/net.d
  install: true
containerRuntime:
  integration: none
daemon:
  runPath: /var/run/cilium
datapathMode: veth
debug:
  enabled: false
enableCnpStatusUpdates: false
enableCriticalPriorityClass: true
enableXTSocketFallback: true
encryption:
  enabled: false
  keyFile: keys
  mountPath: /etc/ipsec
  nodeEncryption: false
  secretName: cilium-ipsec-keys
endpointHealthChecking:
  enabled: true
endpointRoutes:
  enabled: false
eni: false
etcd:
  clusterDomain: cluster.local
  clusterSize: 3
  enabled: false
  endpoints:
  - https://CHANGE-ME:2379
  extraArgs: {}
  extraConfigmapMounts: []
  extraHostPathMounts: []
  extraInitContainers: []
  image:
    pullPolicy: IfNotPresent
    repository: quay.io/cilium/cilium-etcd-operator
    tag: v2.0.7
  k8sService: false
  managed: false
  nodeSelector: {}
  podAnnotations: {}
  podDisruptionBudget:
    enabled: true
    maxUnavailable: 2
  podLabels: {}
  priorityClassName: ""
  resources: {}
  securityContext: {}
  ssl: false
  tolerations:
  - operator: Exists
  updateStrategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
externalIPs:
  enabled: false
externalWorkloads:
  enabled: false
extraArgs: {}
extraConfig: {}
extraConfigmapMounts: []
extraEnv: {}
extraHostPathMounts: []
extraInitContainers: []
flannel:
  enabled: false
  masterDevice: cni0
  uninstallOnExit: false
gke:
  enabled: false
healthChecking: true
healthPort: 9876
hostFirewall: false
hostPort:
  enabled: true
hostServices:
  enabled: false
  protocols: tcp,udp
hubble:
  enabled: true
  listenAddress: :4244
  metrics:
    enabled: null
    port: 9091
    serviceMonitor:
      enabled: false
  metricsServer: ""
  relay:
    dialTimeout: null
    enabled: false
    image:
      digest: sha256:e4b06b224a66de2abeab4dcbd6a65ebf192ac8f77116deedfa654ff7ab1ae588
      pullPolicy: IfNotPresent
{% if commercial.enabled %}
      repository: {{repositories.registry_commercial}}/vanillastack/hubble-relay
{% else %}
      repository: quay.io/cilium/hubble-relay
{% endif %}
      tag: v1.9.5
      useDigest: false
    listenHost: ""
    listenPort: "4245"
    nodeSelector: {}
    podAnnotations: {}
    podLabels: {}
    replicas: 1
    resources: {}
    retryTimeout: null
    rollOutPods: false
    sortBufferDrainTimeout: null
    sortBufferLenMax: null
    tls:
      client:
        cert: ""
        key: ""
      server:
        cert: ""
        enabled: false
        key: ""
    tolerations: []
    updateStrategy:
      rollingUpdate:
        maxUnavailable: 1
      type: RollingUpdate
  socketPath: /var/run/cilium/hubble.sock
  tls:
    auto:
      certValidityDuration: 1095
      enabled: true
      method: helm
      schedule: 0 0 1 */4 *
    ca:
      cert: ""
      key: ""
    enabled: true
    server:
      cert: ""
      key: ""
  ui:
    backend:
      image:
        pullPolicy: IfNotPresent
{% if commercial.enabled %}
        repository: {{repositories.registry_commercial}}/vanillastack/hubble-ui-backend
{% else %}
        repository: quay.io/cilium/hubble-ui-backend
{% endif %}
        tag: v0.7.3
      resources: {}
    enabled: false
    frontend:
      image:
        pullPolicy: IfNotPresent
{% if commercial.enabled %}
        repository: {{repositories.registry_commercial}}/vanillastack/hubble-ui
{% else %}
        repository: quay.io/cilium/hubble-ui
{% endif %}
        tag: v0.7.3
      resources: {}
    ingress:
      annotations: {}
      enabled: false
      hosts:
      - chart-example.local
      tls: []
    nodeSelector: {}
    podAnnotations: {}
    podLabels: {}
    proxy:
      image:
        pullPolicy: IfNotPresent
        repository: docker.io/envoyproxy/envoy
        tag: v1.14.5
      resources: {}
    replicas: 1
    rollOutPods: false
    securityContext:
      enabled: true
    tolerations: []
    updateStrategy:
      rollingUpdate:
        maxUnavailable: 1
      type: RollingUpdate
identityAllocationMode: crd
image:
  digest: sha256:6c829237d4e00080b48e08d453bd87e816a16d7867236446bd9df407ecda0a38
  pullPolicy: IfNotPresent
{% if commercial.enabled %}
  repository: {{repositories.registry_commercial}}/vanillastack/cilium
{% else %}
  repository: quay.io/cilium/cilium
{% endif %}
  tag: v1.9.5
  useDigest: false
imagePullSecrets: null
installIptablesRules: true
ipMasqAgent:
  enabled: false
ipam:
  mode: cluster-pool
  operator:
    clusterPoolIPv4MaskSize: 24
    clusterPoolIPv4PodCIDR: {{ cluster_pod_cidr }}
    clusterPoolIPv6MaskSize: 120
    clusterPoolIPv6PodCIDR: fd00::/104
ipv4:
  enabled: true
ipv6:
  enabled: false
ipvlan:
  enabled: false
k8s: {}
keepDeprecatedLabels: false
keepDeprecatedProbes: false
kubeProxyReplacement: partial
kubeProxyReplacementHealthzBindAddr: ""
l7Proxy: true
localRedirectPolicy: false
logSystemLoad: false
maglev: {}
masquerade: true
monitor:
  enabled: false
name: cilium
nodePort:
  autoProtectPortRange: true
  bindProtection: true
  enableHealthCheck: true
  enabled: true
nodeinit:
  bootstrapFile: /tmp/cilium-bootstrap-time
  enabled: true
  extraArgs: {}
  extraConfigmapMounts: []
  extraEnv: {}
  extraHostPathMounts: []
  extraInitContainers: []
  image:
    pullPolicy: IfNotPresent
    repository: quay.io/cilium/startup-script
    tag: 62bfbe88c17778aad7bef9fa57ff9e2d4a9ba0d8
  nodeSelector: {}
  podAnnotations: {}
  podDisruptionBudget:
    enabled: true
    maxUnavailable: 2
  podLabels: {}
  priorityClassName: ""
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
  securityContext: {}
  tolerations:
  - operator: Exists
  updateStrategy:
    type: RollingUpdate
operator:
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: io.cilium/app
            operator: In
            values:
            - operator
        topologyKey: kubernetes.io/hostname
  enabled: true
  endpointGCInterval: 5m0s
  extraArgs: {}
  extraConfigmapMounts: []
  extraEnv: {}
  extraHostPathMounts: []
  extraInitContainers: []
  identityGCInterval: 15m0s
  identityHeartbeatTimeout: 30m0s
  image:
    awsDigest: sha256:9879c0730bd3f95450d10e04580c66df4546dd1561d8e35b2d046fa697a41514
    azureDigest: sha256:dee876595bda32ffa8925a03f7bc3b8052ce2bc920867060b26ec698ebef9482
    genericDigest: sha256:6b7223ffbc94825590579492e9246533a72a97827a1a7ed959abcfcd1cd918a9
    pullPolicy: IfNotPresent
{% if commercial.enabled %}
    repository: {{repositories.registry_commercial}}/vanillastack/operator
{% else %}
    repository: quay.io/cilium/operator
{% endif %}
    suffix: ""
    tag: v1.9.5
    useDigest: false
  nodeSelector: {}
  podAnnotations: {}
  podDisruptionBudget:
    enabled: false
    maxUnavailable: 1
  podLabels: {}
  priorityClassName: ""
  prometheus:
    enabled: false
    port: 6942
    serviceMonitor:
      enabled: false
  replicas: 2
  resources: {}
  rollOutPods: false
  securityContext: {}
  tolerations:
  - operator: Exists
  updateStrategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
podAnnotations: {}
podDisruptionBudget:
  enabled: true
  maxUnavailable: 2
podLabels: {}
policyEnforcementMode: default
pprof:
  enabled: false
preflight:
  enabled: false
  extraArgs: {}
  extraConfigmapMounts: []
  extraEnv: {}
  extraHostPathMounts: []
  extraInitContainers: []
  image:
    digest: sha256:6c829237d4e00080b48e08d453bd87e816a16d7867236446bd9df407ecda0a38
    pullPolicy: IfNotPresent
    repository: quay.io/cilium/cilium
    tag: v1.9.5
    useDigest: false
  nodeSelector: {}
  podAnnotations: {}
  podDisruptionBudget:
    enabled: true
    maxUnavailable: 2
  podLabels: {}
  priorityClassName: ""
  resources: {}
  securityContext: {}
  tofqdnsPreCache: ""
  tolerations:
  - effect: NoSchedule
    key: node.kubernetes.io/not-ready
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
  - effect: NoSchedule
    key: node.cloudprovider.kubernetes.io/uninitialized
    value: "true"
  - key: CriticalAddonsOnly
    operator: Exists
  updateStrategy:
    type: RollingUpdate
  validateCNPs: true
priorityClassName: ""
prometheus:
  enabled: false
  port: 9090
  serviceMonitor:
    enabled: false
proxy:
  prometheus:
    port: "9095"
{% if commercial.enabled %}
  sidecarImageRegex: "{{repositories.registry_commercial}}/vanillastack/istio_proxy"
{% else %}
  sidecarImageRegex: "cilium/istio_proxy"
{% endif %}
rbac:
  create: true
remoteNodeIdentity: true
resourceQuotas:
  cilium:
    hard:
      pods: 10k
  enabled: false
  operator:
    hard:
      pods: "15"
resources: {}
rollOutCiliumPods: false
securityContext: {}
serviceAccounts:
  certgen:
    annotations: {}
    create: true
  cilium:
    annotations: {}
    create: true
  clustermeshApiserver:
    annotations: {}
    create: true
  etcd:
    annotations: {}
    create: true
  operator:
    annotations: {}
    create: true
  preflight:
    annotations: {}
    create: true
  relay:
    annotations: {}
    create: true
  ui:
    annotations: {}
    create: true
sleepAfterInit: false
sockops:
  enabled: false
tls:
  enabled: true
  secretsBackend: local
tolerations:
- operator: Exists
tunnel: vxlan
updateStrategy:
  rollingUpdate:
    maxUnavailable: 2
  type: RollingUpdate
