[Desktop Entry]
Name=Vanilla-Installer
GenericName=Start the VanillaStack-Installer
GenericName[de]=Startet den VanillaStack Installer
Icon=/usr/local/share/icons/vanillastack/vanilla.svg
Exec=chromium --start-fullscreen --app=http://localhost:8080
Terminal=false
Type=Application
StartupNotify=true

