apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: vanillastack-keycloak
  labels:
    app: sso
  namespace: {{keycloak.namespace}}
spec:
  instances: 2
  extensions:
    - https://github.com/aerogear/keycloak-metrics-spi/releases/download/1.0.4/keycloak-metrics-spi-1.0.4.jar
  externalAccess:
    enabled: True
    tlsTermination: reencrypt
  podDisruptionBudget:
    enabled: True
  externalDatabase:
    enabled: true

