apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-secret
  namespace: {{keycloak.namespace}}
type: Opaque
stringData:
  POSTGRES_EXTERNAL_PORT: "5432"
  POSTGRES_EXTERNAL_ADDRESS: "keycloak-postgresql"
  POSTGRES_DATABASE: "keycloak"
  POSTGRES_HOST: "keycloak-postgresql"
  POSTGRES_PASSWORD: "{{postgrespassword.stdout}}"
  POSTGRES_USERNAME: "keycloak"
  POSTGRES_SUPERUSER: "true"
  POSTGRES_VERSION: "{{keycloak.postgres.version}}"
