apiVersion: apps/v1
kind: Deployment
metadata:
  name: "collabora-online"
  namespace: "{{ nextcloud_instancename }}"
  labels:
    app: "collabora"
spec:
  minReadySeconds: 5
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: collabora-online
      release: collabora-online
  template:
    metadata:
      labels:
        app: collabora-online
        release: collabora-online
    spec:
      containers:
      - env:
        - name: domain
          value: {{ nextcloud_collabora_domain }}
        - name: extra_params
          value: "--o:ssl.termination=true --o:ssl.enable=false"
        - name: server_name
          value: {{ collabora_server_name }}
        - name: username
          value: admin
        - name: DONT_GEN_SSL_CERT
          value: "true"
        - name: password
          valueFrom:
            secretKeyRef:
              key: password
              name: nextcloud-admin
        name: collabora-online
{% if commercial.enabled %}
        image: "{{repositories.registry_commercial}}/vanillastack/code:6.4.3.1"
{% else %}
        image: "collabora/code:6.4.3.1"
{% endif %}
        imagePullPolicy: Always
        ports:
          - containerPort: 9980
        securityContext:
          readOnlyRootFilesystem: false
          capabilities:
            add: 
              - MKNOD
              - SYS_CHROOT
        readinessProbe:
          httpGet:
            path: /
            port: 9980
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 30
          successThreshold: 1
          failureThreshold: 3
        volumeMounts:
          - name: tmp
            mountPath: /tmp
        resources:
      volumes:
        - name: tmp
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: collabora-online
    release: collabora-online
  name: collabora-online
  namespace: "{{ nextcloud_instancename }}"
spec:
  ports:
  - name: collabora-online
    port: 9980
    protocol: TCP
    targetPort: 9980
  selector:
    app: collabora-online
    release: collabora-online
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: collabora-ingress
  namespace: "{{ nextcloud_instancename }}"
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 1024m
    cert-manager.io/cluster-issuer: "{{ LE_issuer_name }}"
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  rules:
  - host: "{{ nextcloud.collabora.ingress.publicDomain }}"
    http:
      paths:
        - backend:
            service:
              name: collabora-online
              port: 
                number: 9980
          path: /
          pathType: ImplementationSpecific
  tls:
  - hosts:
    - "{{ nextcloud.collabora.ingress.publicDomain }}"
    secretName: "{{ nextcloud_instancename }}office-online-tls"

