apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: "{{ nextcloud.postgresql.name }}"
  namespace: "{{ nextcloud_instancename }}"
spec:
  teamId: "nextcloud"
  volume:
    size: 20Gi
  numberOfInstances: 3
  users:
    postgres:
    - superuser
    - createdb
    nextcloud: []
  databases:
    nextcloud: nextcloud
  postgresql:
    version: "12"

