[Unit]
Description=Vanilla Installa
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/xz -d /vanilla/vanilla-installer.tar.xz | /usr/bin/docker load
ExecStart=/usr/bin/docker run --rm --name vanilla-installa -p 8080:8080 harbor.cloudical.net/vanillastack/vsinstaller
