apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-rgw-etc
  namespace: {{openstack.namespace}}
  annotations:
    meta.helm.sh/release-name: radosgw
    meta.helm.sh/release-namespace: {{openstack.namespace}}
  labels:
    app.kubernetes.io/managed-by: Helm
data:
 ceph.conf: |
  [client]
  rbd_default_features = 3
  [global]
  cluster network = 10.0.0.0/8
  fsid = {{openstack.ceph.rook.fsid}}
  mon host = rook-ceph-mon-a.{{rook.namespace}}.svc.cluster.local:6789,rook-ceph-mon-b.{{rook.namespace}}.svc.cluster.local:6789,rook-ceph-mon-c.{{rook.namespace}}.svc.cluster.local:6789
  osd pool default crush rule = -1
  public network = 10.10.0.0/8
  rgw_max_attr_name_len = 64
  rgw_max_attr_size = 1024
  rgw_max_attrs_num_in_req = 32
  rgw_swift_versioning_enabled = true
  [osd]
  osd memory target = 8582398600
