apiVersion: v1
kind: Service
metadata:
  annotations:
    meta.helm.sh/release-name: metadata
    meta.helm.sh/release-namespace: {{openstack.namespace}}
  name: metadata
  namespace: {{openstack.namespace}}
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  externalName: nginx-ingress-controller.{{ingress.namespace}}.svc.cluster.local
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  - name: https
    port: 443
    protocol: TCP
    targetPort: 443
  sessionAffinity: None
  type: ExternalName
