system_domain: "{{ cloudfoundry.coreDomain }}"

kube:
  storage_class: {{ cloudfoundry.storageclass }}

high_availability: false

features:
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 1024m
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: {{ tls.issuerName }}
      kubernetes.io/tls-acme: "true"
  eirini:
    enabled: true

install_stacks: [sle15]

