apiVersion: v1
kind: ConfigMap
metadata:
 name: ceph-etc
 namespace: {{openstack.namespace}}
data:
 ceph.conf: |
  [client]
  rbd_default_features = 3
  [global]
  cluster network = 10.0.0.0/8
  fsid = {{openstack.ceph.rook.fsid}}
  mon host = rook-ceph-mon-a.{{rook.namespace}}.svc.cluster.local:6789,rook-ceph-mon-b.{{rook.namespace}}.svc.cluster.local:6789,rook-ceph-mon-c.{{rook.namespace}}.svc.cluster.local:6789
  osd pool default crush rule = -1
  public network = 10.0.0.0/8
  [osd]
  osd memory target = 8582398600
