---
{% if openstack.release == "train" %}
images:
  tags:
    bootstrap: "docker.io/openstackhelm/heat:train-ubuntu_bionic"
    db_init: "docker.io/openstackhelm/heat:train-ubuntu_bionic"
    db_drop: "docker.io/openstackhelm/heat:train-ubuntu_bionic"
    ks_user: "docker.io/openstackhelm/heat:train-ubuntu_bionic"
    ks_service: "docker.io/openstackhelm/heat:train-ubuntu_bionic"
    ks_endpoints: "docker.io/openstackhelm/heat:train-ubuntu_bionic"
    glance_db_sync: "docker.io/openstackhelm/glance:train-ubuntu_bionic"
    glance_api: "docker.io/openstackhelm/glance:train-ubuntu_bionic"
    glance_registry: "docker.io/openstackhelm/glance:train-ubuntu_bionic"
    glance_metadefs_load: "docker.io/openstackhelm/glance:train-ubuntu_bionic"
    glance_storage_init: "docker.io/openstackhelm/ceph-config-helper:latest-ubuntu_bionic"
{% endif %}
{% if openstack.release == "ussuri" %}
images:
  tags:
    bootstrap: "docker.io/openstackhelm/heat:ussuri-ubuntu_bionic"
    db_init: "docker.io/openstackhelm/heat:ussuri-ubuntu_bionic"
    db_drop: "docker.io/openstackhelm/heat:ussuri-ubuntu_bionic"
    ks_user: "docker.io/openstackhelm/heat:ussuri-ubuntu_bionic"
    ks_service: "docker.io/openstackhelm/heat:ussuri-ubuntu_bionic"
    ks_endpoints: "docker.io/openstackhelm/heat:ussuri-ubuntu_bionic"
    glance_db_sync: "docker.io/openstackhelm/glance:ussuri-ubuntu_bionic"
    glance_api: "docker.io/openstackhelm/glance:ussuri-ubuntu_bionic"
    glance_registry: "docker.io/openstackhelm/glance:ussuri-ubuntu_bionic"
    glance_metadefs_load: "docker.io/openstackhelm/glance:ussuri-ubuntu_bionic"
    glance_storage_init: "docker.io/openstackhelm/ceph-config-helper:latest-ubuntu_bionic"
{% endif %}

storage: {{openstack.glance.defaultBackend}}
pod:
  replicas:
    api: {{openstack.glance.api.replicas}}
    registry: {{openstack.glance.registry.replicas}}
conf:
{% if openstack.glance.rbd.enabled %}
  software:
    rbd:
      rbd_store_pool_app_name: {{openstack.glance.rbd.cephAppName}}
{% if openstack.ceph.enabled %}
  ceph:
    monitors: {{openstack.ceph.rook.cephMonitors}}
{% endif %}
{% endif %}
  glance:
    DEFAULT:
      enable_v1_api: {{openstack.glance.api.v1Enabled}}
      enable_v2_registry: {{openstack.glance.registry.v2Enabled}}
{% if openstack.glance.rbd.enabled %}
      show_image_direct_url: {{openstack.glance.rbd.showImageDirectUrl}}
    glance_store:
      rbd_store_pool: {{openstack.glance.rbd.rbdPool}} 
      rbd_store_user: {{openstack.glance.rbd.rbdUser}}
secrets:
  rbd: images-rbd-keyring
{% endif %}
endpoints:
  image:
    host_fqdn_override:
      public:
        host: {{openstack.glance.endpoints.publicURLPrefix}}.{{openstack.publicDomain}} 
{% if openstack.tls.enabled and openstack.tls.letsEncrypt.enabled %}
        tls:
          key: dummy
          crt: dummy
          ca: dummy
{% endif %}
    scheme:
      default: http
{% if openstack.tls.enabled %}
      public: https
    port:
      api:
        public: 443
{% endif %}
{% if openstack.tls.enabled and openstack.tls.letsEncrypt.enabled %}
    certs:
      glance:
        secretName: glance-tls
        issuerRef:
          name: {{letsEncrypt.issuerName}}
          kind: Issuer
{% endif %}
  identity:
    hosts:
      default: keystone-api
      internal: keystone-api
    auth:
      admin:
        region_name: {{openstack.region}}
        username: admin
        password: {{openstack.keystone.auth.admin.password}}
        project_name: admin
        user_domain_name: default
        project_domain_name: default
      glance:
        role: admin
        region_name: {{openstack.region}}
        username: glance
        password: {{openstack.glance.auth.service.password}}
        project_name: service
        user_domain_name: service
        project_domain_name: service
      test:
        role: admin
        region_name: {{openstack.region}}
        username: glance-test
        password: {{openstack.glance.auth.glanceTest.password}}
        project_name: test
        user_domain_name: service
        project_domain_name: service
  oslo_db:
    auth:
      admin:
        username: root
        password: {{openstack.mariadb.auth.admin.password}}
        secret:
          tls:
            internal: mariadb-tls-direct
      glance:
        username: glance
        password: {{openstack.glance.auth.db.password}}
  oslo_messaging:
    auth:
      admin:
        username: rabbitmq
        password: {{openstack.rabbitmq.auth.admin.password}} 
      glance:
        username: glance
        password: {{openstack.glance.auth.messaging.password}}
  ceph_object_store:
    name: radosgw
    namespace: {{openstack.namespace}}
    auth:
      glance:
        username: glance
        password: {{openstack.glance.auth.radosgw.password}}
        tmpurlkey: supersecret
network:
  api:
    ingress:
      public: true
      classes:
        namespace: "nginx"
        cluster: "nginx-cluster"
      annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /
        kubernetes.io/ingress.class: nginx
{% if openstack.tls.enabled and openstack.tls.useCertManager %}
        kubernetes.io/tls-acme: "true"
#        nginx.ingress.kubernetes.io/backend-protocol: "https"
{% endif %}
{% if openstack.tls.enabled and openstack.tls.letsEncrypt.enabled %}
        cert-manager.io/issuer: "{{letsEncrypt.issuerName}}"
{% endif %}

manifests:
  deployment_registry: true
  ingress_registry: true
  pdb_registry: true
  service_ingress_registry: true
  secret_ingress_tls: false
