---
{% if openstack.release == "train" %}
images:
  tags:
    db_init: docker.io/openstackhelm/heat:train-ubuntu_bionic
    db_drop: docker.io/openstackhelm/heat:train-ubuntu_bionic
    horizon_db_sync: docker.io/openstackhelm/horizon:train-ubuntu_bionic
    horizon: docker.io/openstackhelm/horizon:train-ubuntu_bionic
{% endif %}
{% if openstack.release == "ussuri" %}
images:
  tags:
    db_init: docker.io/openstackhelm/heat:ussuri-ubuntu_bionic
    db_drop: docker.io/openstackhelm/heat:ussuri-ubuntu_bionic
    horizon_db_sync: docker.io/openstackhelm/horizon:ussuri-ubuntu_bionic
    horizon: docker.io/openstackhelm/horizon:ussuri-ubuntu_bionic
{% endif %}
pod:
  replicas:
    server: {{openstack.horizon.replicas}}
endpoints:
  dashboard:
    host_fqdn_override:
      public:
        host: {{openstack.publicDomain}}
