---
{% if commercial.enabled != true %}
images:
  tags:
    libvirt: docker.io/openstackhelm/libvirt:latest-ubuntu_bionic
    ceph_config_helper: 'docker.io/openstackhelm/ceph-config-helper:ubuntu_bionic-20200217'
    dep_check: quay.io/airshipit/kubernetes-entrypoint:v1.0.0
    image_repo_sync: docker.io/docker:17.07.0
{% endif %}
{% if commercial.enabled %}
images:
  tags:
    libvirt: {{commercial.registry.url}}/vanillastack/libvirt:latest-ubuntu_bionic
    ceph_config_helper: '{{commercial.registry.url}}/vanillastack/ceph-config-helper:ubuntu_bionic-20200217'
    dep_check: {{commercial.registry.url}}/vanillastack/kubernetes-entrypoint:v1.0.0
    image_repo_sync: {{commercial.registry.url}}/vanillastack/docker:17.07.0
{% endif %}
