---
{% if commercial.enabled != true %}
images:
  tags:
    dep_check: 'quay.io/airshipit/kubernetes-entrypoint:v1.0.0'
    memcached: 'docker.io/memcached:1.5.5'
    prometheus_memcached_exporter: docker.io/prom/memcached-exporter:v0.4.1
    image_repo_sync: docker.io/docker:17.07.0
{% endif %}
{% if commercial.enabled %}
images:
  tags:
    dep_check: '{{commercial.registry.url}}/vanillastack/kubernetes-entrypoint:v1.0.0'
    memcached: '{{commercial.registry.url}}/vanillastack/memcached:1.5.5'
    prometheus_memcached_exporter: {{commercial.registry.url}}/vanillastack/memcached-exporter:v0.4.1
    image_repo_sync: {{commercial.registry.url}}/vanillastack/docker:17.07.0
{% endif %}
pod:
  replicas:
    server: {{openstack.memcached.replicas}}
