---
{% if commercial.enabled != true %}
images:
  tags:
    openvswitch_db_server: docker.io/openstackhelm/openvswitch:latest-ubuntu_bionic
    openvswitch_vswitchd: docker.io/openstackhelm/openvswitch:latest-ubuntu_bionic
    dep_check: quay.io/airshipit/kubernetes-entrypoint:v1.0.0
    image_repo_sync: docker.io/docker:17.07.0
{% endif %}
{% if commercial.enabled %}
images:
  tags:
    openvswitch_db_server: {{commercial.registry.url}}/vanillastack/openvswitch:latest-ubuntu_bionic
    openvswitch_vswitchd: {{commercial.registry.url}}/vanillastack/openvswitch:latest-ubuntu_bionic
    dep_check: {{commercial.registry.url}}/vanillastack/kubernetes-entrypoint:v1.0.0
    image_repo_sync: {{commercial.registry.url}}/vanillastack/docker:17.07.0
{% endif %}
