---
pod:
  replicas:
    api: {{openstack.senlin.api.replicas}}
    engine: {{openstack.senlin.engine.replicas}}
endpoints:
  clustering:
    host_fqdn_override:
      public:
        host: {{openstack.senlin.endpoints.publicURLPrefix}}.{{openstack.publicDomain}}
{% if openstack.tls.enabled and openstack.tls.letsEncrypt.enabled %}
        tls:
          key: dummy
          crt: dummy
          ca: dummy
{% endif %}
    scheme:
      default: http
{% if openstack.tls.enabled %}
      public: https
    port:
      api:
        public: 443
{% endif %}
{% if openstack.tls.enabled and openstack.tls.letsEncrypt.enabled %}
    certs:
      senlin:
        secretName: senlin-tls
        issuerRef:
          name: {{openstack.tls.letsEncrypt.issuerName}}
          kind: Issuer
{% endif %}
  identity:
    name: keystone
    auth:
      admin:
        region_name: {{openstack.region}}
        username: admin
        password: {{openstack.keystone.auth.admin.password}}
        project_name: admin
        user_domain_name: default
        project_domain_name: default
      senlin:
        role: admin
        region_name: {{openstack.region}}
        username: senlin
        password: {{openstack.senlin.auth.service.password}}
        project_name: service
        user_domain_name: service
        project_domain_name: service
      test:
        role: admin
        region_name: {{openstack.region}}
        username: senlin-test
        password: {{openstack.senlin.auth.senlinTest.password}}
        project_name: test
        user_domain_name: service
        project_domain_name: service
  oslo_db:
    auth:
      admin:
        username: root
        password: {{openstack.mariadb.auth.admin.password}}
      senlin:
        username: senlin
        password: {{openstack.senlin.auth.service.password}}
  oslo_messaging:
    auth:
      admin:
        username: rabbitmq
        password: {{openstack.rabbitmq.auth.admin.password}}
      senlin:
        username: senlin
        password: {{openstack.senlin.auth.messaging.password}}

network:
  api:
    ingress:
      public: true
      classes:
        namespace: "nginx"
        cluster: "nginx-cluster"
      annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /
        kubernetes.io/ingress.class: nginx
{% if openstack.tls.enabled and openstack.tls.useCertManager %}
        kubernetes.io/tls-acme: "true"
#        nginx.ingress.kubernetes.io/backend-protocol: "https"
{% endif %}
{% if openstack.tls.enabled and openstack.tls.letsEncrypt.enabled %}
        cert-manager.io/issuer: "{{openstack.tls.letsEncrypt.issuerName}}"
{% endif %}
manifests:
  secret_ingress_tls: false
