loki:
  enabled: true
  image:
{% if commercial.enabled %}
    repository: "{{repositories.registry_commercial}}/vanillastack/loki"
{% else %}
    repository: grafana/loki
{% endif %}
    tag: 2.1.0
  ingress:
    enabled: false
  persistence:
    enabled: {{loki.persistence.enabled}}
    accessModes:
    - ReadWriteOnce
    size: {{loki.persistence.size}}
    storageClassName: {{loki.persistence.storageClass}}
  replicas: {{loki.replicas}}

  serviceMonitor:
    enabled: {{loki.monitoring.enabled}}

promtail:
  enabled: true
  initContainer:
    enabled: false
    image:
{% if commercial.enabled %}
      registry: "{{repositories.registry_commercial}}"
      repository: vanillastack/busybox
{% else %}
      registry: docker.io
      repository: busybox
{% endif %}
      tag: 1.33
  image:
{% if commercial.enabled %}
    registry: "{{repositories.registry_commercial}}"
    repository: vanillastack/promtail
{% else %}
    registry: docker.io
    repository: grafana/promtail
{% endif %}
    tag: null
    pullPolicy: IfNotPresent
  serviceMonitor:
    enabled: {{loki.monitoring.enabled}}
    namespace: null
    namespaceSelector: {}
    annotations: {}
    labels: {}
    interval: null
    scrapeTimeout: null

fluent-bit:
  enabled: false

grafana:
  enabled: false

prometheus:
  enabled: false

filebeat:
  enabled: false

logstash:
  enabled: false


