spec:
  template:
    spec:
      containers:
      - args:
        - --config=/etc/keycloak-gatekeeper.conf
        image: keycloak/keycloak-gatekeeper:latest
        imagePullPolicy: Always
        name: gatekeeper
        ports:
        - containerPort: 3000
          name: gatekeeper
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/keycloak-gatekeeper.conf
          name: gatekeeper-config
          subPath: keycloak-gatekeeper.conf
        - mountPath: /html
          name: gatekeeper-files
      volumes:
      - configMap:
          defaultMode: 420
          name: gatekeeper-config
        name: gatekeeper-config
      - configMap:
          defaultMode: 420
          name: gatekeeper-files
        name: gatekeeper-files

