apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: certmanager-selfsigned
{% if rook.dashboard.ingress.tls.enabled|default(false) %}
    cert-manager.io/cluster-issuer: "{{rook.objectStorage.ingress.tls.issuerName}}"
    kubernetes.io/tls-acme: "true"
{% endif %}
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/server-snippet: |
      proxy_ssl_verify off;
  name: rook-ceph-mgr-dashboard
  namespace: rook-ceph
spec:
  ingressClassName: nginx
  rules:
  - host: {{rook.dashboard.ingress.domain}}
    http:
      paths:
      - backend:
          service:
            name: rook-ceph-mgr-dashboard
            port:
              name: https-dashboard
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - {{rook.dashboard.ingress.domain}}
    secretName: tls-dashboard-endpoint
