[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output Virtual1 --mode 1280x768'
OnlyShowIn=LXDE
