[Unit]
Description=Set CPU r using cpupower

[Service]
Type=oneshot
ExecStart=/usr/bin/cpupower \
    frequency-set \
    --related \
    --governor {{ cpupower_governor }}

[Install]
WantedBy=basic.target
