---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: mpaas-customer-global-role
rules:
{% for perms in rbac.globalPermissions %}
- apiGroups:
{% for item in perms.apiGroups %}
  - {{item}}
{% endfor %}
  resources:
{% for item in perms.resources %}
  - {{item}}
{% endfor %}
  verbs:
{% for item in perms.verbs %}
  - {{item}}
{% endfor %}
{% endfor %}
