apiVersion: v1
kind: Config
clusters:
- name: default-cluster
  cluster:
    certificate-authority-data: {{ certificate_authority_data['content'] }}
    server: "https://{{ clusterTLDomain }}:6443"
contexts:
- name: default-context
  context:
    cluster: default-cluster
    namespace: default
    user: default-user
current-context: default-context
users:
- name: default-user
  user:
    client-certificate-data: {{ client_certificate_data['content'] }}
    client-key-data: {{ client_key_data['content'] }}
