---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: "mpaas-customer-global-role-sa-{{sa.name}}"
rules:
{% for perms in sa.globalPermissions %}
- {{perms}}
{% endfor %}
