---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{sa.name}}"
  namespace: "{{sa.namespace}}"
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: "mpaas-customer-global-role-sa-{{sa.name}}"
rules:
{% for perms in sa.globalPermissions %}
- apiGroups:
{% for item in perms.apiGroups %}
  - {{item}}
{% endfor %}
  resources:
{% for item in perms.resources %}
  - {{item}}
{% endfor %}
  verbs:
{% for item in perms.verbs %}
  - {{item}}
{% endfor %}
{% endfor %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: "mpaas-customer-{{sa.name}}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "mpaas-customer-global-role-sa-{{sa.name}}"
subjects:
- kind: ServiceAccount
  name: "{{sa.name}}"
  namespace: "{{sa.namespace}}"
