apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio-nfs-pv
spec:
  capacity:
    storage: {{velero.minio.nfs.size}}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: nfs
#  mountOptions:
#    - hard
#    - nfsvers=4.1
  nfs:
    path: {{velero.minio.nfs.path}}
    server: {{velero.minio.nfs.server}}
