system_domain: "{{ cloudfoundry.coreDomain }}"

install_stacks: [sle15]

kube:
  storage_class: {{ cloudfoundry.storageclass }}

multi_az: false

high_availability: false

features:
  memory_limits:
    enabled: true
    default_request_minimum: 32
    default_request_in_percent: 25
  routing_api:
    enabled: false
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 1024m
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: {{ LE_issuer_name }}
      kubernetes.io/tls-acme: "true"
  eirini:
    enabled: true


