apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: vanilla-application-user
  labels:
    app: vanillastack-sso
  namespace: {{ keycloak.namespace }}
spec:
  realmSelector:
    matchLabels:
      app: vanillastack-sso
  user:
    Credentials:
      type: password
      temporary: false
      value: "vanilla-application-user"
    email: vanilla-application-user@{{kubernetes.loadBalancer.clusterDomain}}
    emailVerified: true
    enabled: true
    username: vanilla-application-user
