[bastion]
# <bastionnode> ansible_host=<ipaddress> ansible_connection=local

[master]
# <master-1> ansible_host=<ipaddress>
# <master-2> ansible_host=<ipaddress>
# <master-3> ansible_host=<ipaddress>

[worker]
# <worker-1> ansible_host=<ipaddress>

[kube_cluster:children]
bastion
master
worker

[haproxy:children]
master


