apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  name: grafana-client
  labels:
    app: vanillastack-sso
  namespace: {{ keycloak.namespace }}
spec:
  realmSelector:
    matchLabels:
      app: vanillastack-sso
  client:
    clientId: "{{grafana.ingress.dns}}"
    name: "{{grafana.ingress.dns}}"
    directAccessGrantsEnabled: true
    secret: "{{ grafana_client_secret }}"
    clientAuthenticatorType: client-secret
    protocol: openid-connect
    enabled: true
    baseUrl: "/login/generic_oauth"
    rootUrl: "https://{{grafana.ingress.dns}}"
    redirectUris:
      - "https://{{grafana.ingress.dns}}/login/generic_oauth"
    standardFlowEnabled: true
    fullScopeAllowed: false

