---
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: guacamole-postgresql
  namespace: {{ guacamole.namespace }}
spec:
  teamId: "guacamole"
  volume:
    size: {{ guacamole.postgres.size }}
  numberOfInstances: {{ guacamole.postgres.replicas }}
  users:
    postgres:
    - superuser
    - createdb
    guacamole: []
  databases:
    guacamole: guacamole
  postgresql:
    version: "{{ guacamole.postgres.version}}"
    parameters:
      max_connections: "{{ guacamole.postgres.maxConnections }}"
  enableLogicalBackup: {{ guacamole.postgres.backup.enabled }}
  logicalBackupSchedule: {{ guacamole.postgres.backup.cronjob }}

